.cart{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    background-color: blueviolet;
}

.cart-item{
    width: 100%;
}
.cart-item img{
    width: 50%;
    border-radius: 50%;
}